{% extends 'base.html' %}

{% block title %}Add Tag{% endblock %}}

{% block content %}

<h1>Create a tag</h1>

<form method="Post" action="/tags/new">

    <div class="form-row">
        <label for="name" class="form-label">Name</label>
        <div class="form-div">
            <input type="text"
                   class="form-input"
                   id="name"
                   name="name"
                   placeholder="Enter a name for the tag">  
        </div>
    </div>

    <div class="form-row">
        {% for post in posts %}
        <div class="form-div">
            <input type="checkbox"
                   class="form-input"
                   value="{{ post.id }}"
                   id="post_{{ post.id }}"
                   name="posts">
            <label class="form-label" for="post_{{ post.id }}">
                {{ post.title }}
            </label>
        </div>
        {% endfor %}
    </div>

    <div class="form-row">
        <div class="btn-div">
            <a href="/tags" class="tag-btn">Cancel</a>
            <button type="submit" class="add-btn">Add</button>
        </div>
    </div>


</form>

{% endblock %}